{% extends "base.html" %}

{% block content %}


    {% if form %}
        <form action="{% url 'equity-ratio-add-view' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="OK">
        </form>
    {% else %}
        <p>Company name: {{ company_name }}</p>
        <p>Total equity: {{ total_equity }}</p>
        <p>Total assets: {{ total_assets }}</p>
        <p><b>Ii year {{ year }} current ratio result is: {{ equity_ratio }}</b></p>
    {% endif %}

{% endblock %}