{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" />
</head>

<body>
<div id="container">
    
<div id="naglowek"></div>
	
<div id="menu">
  <ul>
  <li><a href="/faq">About this site</a></li>
  <li><a href="/all_analysis">Add analysis</a></li>
  <li><a href="/add_company">Add Company</a></li>
  <li><a href="/contact">Contact site owner</a></li>
  </ul>
</div>


<div id="lewy">
    <dl>
    <dt>Liquidity analysis</dt>
    <dd><img src="../static/images/ptk.jpg" alt="menu" /><a href="/current_ratio">Current Ratio</a></dd>
    <dd><img src="../static/images/ptk.jpg" alt="menu" /><a href="/quick_ratio">Quick Ratio</a></dd>
    <dd><img src="../static/images/ptk.jpg" alt="menu" /><a href="/cash_ratio">Cash Ratio</a></dd>
    <dt>Profitability analysis</dt>
    <dd><img src="../static/images/ptk.jpg" alt="menu" /><a href="/return_on_assets">Return On Assets</a></dd>
    <dd><img src="../static/images/ptk.jpg" alt="menu" /><a href="/return_on_equity">Return On Equity</a></dd>
    <dd><img src="../static/images/ptk.jpg" alt="menu" /><a href="/return_on_sales">Return On Sales</a></dd>
    </dl>
<div id="bottom"></div>
</div>


<div id="srodek">

{% block content %}

{% endblock %}

</div>	

<div id="stopka">
<div id="copyright">Copyright by PrzemyslawL</div>

</div>
    
</div>
</body>
</html>
